html, body {
  background: silver;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("../images/SATURATED_WIKI.png");
  background-size: cover;
}

.content-container {
  position: relative;
  background-color: rgba(128, 128, 128, 0.3);
  min-height: 60%;
  max-height: 60%;
  max-width: 70%;
  overflow: auto;
  top: 10%;
  left: 15%;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
}
.content-container #preview {
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Courgette', cursive;
}
.content-container #preview div {
  margin: 2.5%;
  cursor: pointer;
}
.content-container #preview p {
  text-indent: 2.5%;
}

.icon-container {
  position: relative;
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10%;
  margin-left: 15%;
  margin-right: 15%;
}
.icon-container a {
  margin: auto;
}
.icon-container #search {
  width: 90%;
  height: 2.6em;
}
.icon-container #search #searchBox {
  width: 100%;
  height: 100%;
  border-radius: 0.8em;
  background-color: inherit;
  font-family: 'Yatra One', cursive;
}

i {
  border-radius: 0.25em;
  margin: auto;
  cursor: pointer;
  color: black;
}
i.fa-random {
  background-color: rgba(128, 128, 128, 0.3);
}

.blank-container {
  max-height: 2.5%;
}

.edgebar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 10%;
  background-color: #343436;
}
.edgebar.top {
  margin: 0px;
  border-bottom: solid;
}
.edgebar.bot {
  margin: 0px;
  position: fixed;
  bottom: 0;
  border-top: solid;
}

@media (max-width: 375px) {
  html, body {
    background-size: auto;
  }

  .content-container {
    top: 15%;
    max-height: 40%;
    min-height: 40%;
  }
  .content-container div {
    font-size: 0.75em;
  }

  .blank-container {
    max-height: 10%;
  }

  .icon-container {
    font-size: 1em;
  }

  .fa-2x {
    font-size: 1.5em;
  }

  .ui-tooltip-content {
    font-size: 0.5em;
  }
}
@media (max-height: 375px) {
  .icon-container {
    font-size: 0.75em;
  }

  .fa-2x {
    font-size: 1.5em;
  }

  .ui-tooltip-content {
    font-size: 0.5em;
  }
}
