html, body {
  background: silver;
  margin: 0;
  padding: 0;
  height: 100%;
  // overflow: hidden;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Wikipedia-logo-v2-en.svg/2000px-Wikipedia-logo-v2-en.svg.png");
  background-size: cover;
}

.content-container {
  position: relative;
  background-color: rgba(128, 128, 128, 0.3);
  min-height: 60%;
  max-height: 60%;
  max-width: 70%;
  overflow: auto;
  top:10%;
  left: 15%;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  #preview {
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Courgette', cursive;
    // overflow: hidden;
    div {
      margin: 2.5%;
      cursor: pointer;
    }
    & p {
      text-indent: 2.5%;
    }
  }
}

.icon-container {
  position: relative;
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 10%;
  max-height: 10%;
  // max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  a {
    margin: auto;
  }
  #search {
    width: 90%;
    height: 2.6em;
    #searchBox {
      width: 100%;
      height: 100%;
      border-radius: 0.8em;
      background-color: inherit;
      font-family: 'Yatra One', cursive;
    }
  }
}

  i {
    border-radius: 0.25em;
    margin: auto;
    cursor: pointer;
    color: black;
    // color: #999967;
    &.fa-random {
      // background-color: #CCCC9A;
      background-color: rgba(128, 128, 128, 0.3);
    }
}

.blank-container {
  max-height: 2.5%;
}

.edgebar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  // color: white;
  width: 100%;
  height: 10%;
  background-color: #343436;
  &.top {
    margin: 0px;
    border-bottom: solid;
  }
  &.bot {
    margin: 0px;
    position: fixed;
    bottom: 0;
    border-top: solid;
  }
}

@media (max-width: 375px) {
  html, body {
    background-size: auto;
  }
  .content-container {
    top: 15%;
    max-height: 40%;
    min-height: 40%;
    #preview {

    }
    div {
      font-size: 0.75em;
    }
  }
  .blank-container {
  max-height: 10%;
}
  
  .icon-container {
    font-size: 1em;
  }
  .fa-2x {
    font-size: 1.5em;
  }
  .ui-tooltip-content {
    font-size: 0.5em;
  }
}

@media (max-height: 375px) {
   .icon-container {
    font-size: 0.75em;
  }
  .fa-2x {
    font-size: 1.5em;
  }
    .ui-tooltip-content {
    font-size: 0.5em;
  }
}