doctype html
body
  .edgebar.top
  .icon-container
    form#search
      input(type="search", id="searchBox", title="")
    a(href="https://en.wikipedia.org/wiki/Special:Random", target="_blank", title="") 
      i.fa.fa-2x.fa-random
  .content-container
    #preview
  .blank-container
  .edgebar.bot
   